doctype html
html
    head
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/public.css')
        script(src='js/jquery-1.11.0.js')
        script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sons-of-obsidian")
        script(src='js/docs.js')

    title TAG User Reference

    mixin sectionHeader(name, dest)
        header(id=dest) #{name}

    mixin link(name, url)
        p
            a(href=url, target="_blank") #{name}

    mixin sectionLink(name, dest)
        li
            a.separator_link(dest="#"+dest) #{name}

    mixin genPageImg(src)
        a(href=src, target="_blank")
            img(class="pageImg", src=src, alt="Sorry, image failed to load!")

    mixin genThumbnailImg(input)
        .innerTableContainer
            a(href=input.href, target="_blank")
                img(class="thumbnailImg", src=input.src, alt="Sorry!")

    mixin displayServer(input)
        .serverName #{input.name}
        .serverAddress #{input.ip}
        .status
        .pingMessage pinging...
        br
        br


    body
        .background

        // navigation
        .menu
            .logo
                img(width='110', height='54', src='./images/2.jpg')
            .tag
                a(id='tagTitle', href='#nav_hr_start') TAG User Reference
            ul.sections#navbar
                li
                    a.separator_link#link_setup(dest='#nav_hr_setup') SETTING UP
                li
                    a.separator_link#link_dev(dest='#nav_hr_tutorials') TUTORIALS
                li
                    a.separator_link#link_links(dest='#nav_hr_features') PLANNED FEATURES

        // content
        .container
            // --------------------------------- WELCOME PAGE --------------------------------- //
            +sectionHeader("Welcome!", "nav_hr_start")
            p
                | Welcome to the Touch Art Gallery User Reference. This site contains a collection of
                | resources for setting up TAG, taking advantage of its capabilities, and installing
                | a TAG server. There is also a list of features under active development at the bottom.
                | This may be useful if you are contemplating using Touch Art Gallery. If you have any
                | ideas for new features, or if you have noticed any erratic functionality, please email
                | us at&nbsp;
                a(href="mailto:brown.touchartgallery@outlook.com") brown.touchartgallery@outlook.com
                | ; we would be more than happy to talk with you!
            br
            img(width="500", height="300", src="./images/splashScreen.jpg")

            // ------------------------------- TAG SERVERS ------------------------------------- //
            +sectionHeader("TAG servers available for browsing", "header_tagservers")
            br
            #tagservers
                +displayServer({
                    name: 'TAG demo server',
                    ip: 'browntagserver.com',
                })
                +displayServer({
                    name: 'Seattle Art Museum',
                    ip: 'tag.seattleartmuseum.org'
                })
            p
                | To browse the contents of one of these servers, open TAG to the start page, tap on the
                | "Change Server" button, and enter the corresponding address above (e.g., "browntagserver.com").
                | The start page and "Change Server" button can be seen in the image above.
            
            hr#nav_hr_setup

            // --------------------------------- ABOUT ----------------------------------- //
            +sectionHeader("About Touch Art Gallery (TAG)", "header_about")
            | a.sdjfladsjflawkfjlawekfja.skfjwlekfjwlfjawlefijweofij

            // --------------------------------- WIN 8 APP SETUP --------------------------------- //
            +sectionHeader("Windows 8/8.1 Application Setup", "header_win8setup")
            | The TAG Windows app is available in the Windows App Store&nbsp;
            a(href="http://apps.microsoft.com/windows/en-US/app/e7176994-b05f-430e-80ca-57b53e89b712", target="_blank") here
            | . If you are using a Windows 8/8.1 machine, you should be able to install directly from there.
            br
            br
            | By default, TAG connects to the Brown Graphics Lab demo server, which has a selection of demo
            | content to explore. To explore content on another server, you can use the "Change Server" button in the
            | bottom right of the start page. You will need to enter the address of this server (a couple sample
            | addresses are provided above).

            // -------------------------------- WEB APP SETUP ------------------------------------ //
            +sectionHeader("Web Application Setup", "header_webappsetup")
            | The TAG web app source code is available for download&nbsp;
            a(href="http://cs.brown.edu/research/ptc/tag/webapp.html") here
            | . It is designed to be embedded in an existing site with minimal interference to the
            | rest of the page. Instructions for use can be found at the link above.

            // -------------------------------- TAG SERVER SETUP ---------------------------------- //
            +sectionHeader("TAG Server Setup", "header_serversetup")
            | Some stuff about server setup

            hr#nav_hr_tutorials

            // ------------------------------- KIOSK TUTORIAL ----------------------------------- //
            +sectionHeader("General Tutorial", "header_generaltutorial")
            .iframeContainer
                iframe(style="width:500px; height:304px;", src="https://www.youtube.com/embed/NPJiTTKHu-E", frameborder="0", allowfullscreen)
            br
            | General tutorial for using TAG and authoring basic settings, artworks, and exhibitions

            +sectionHeader("Tour Authoring Tutorial", "header_tourauthoringtutorial")
            .iframeContainer
                iframe(style="width:500px; height:304px;", src="https://www.youtube.com/embed/JozMHAWq0TA", frameborder="0", allowfullscreen)
            br
            | Tutorial focusing on how to create interactive tours within TAG's Tour Authoring mode.

            hr#nav_hr_features

            // ---------------------------- FEATURES ------------------------- //

            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br

            // side navigation links
            .allPages  
                .linkContain#nav_start
                .linkContain#nav_setup
                    .title
                        p Getting set up
                        .links
                            ul.sections
                                +sectionLink('About TAG',          'header_about')
                                +sectionLink('Win8/8.1 Setup',     'header_win8setup')
                                +sectionLink('Web App Setup',      'header_webappsetup')
                                +sectionLink('TAG Server Setup',   'header_serversetup')
                .linkContain#nav_tutorials
                    .title
                        p Tutorials
                        .links
                            ul.sections
                                +sectionLink('General Tutorial',   'header_generaltutorial')
                                +sectionLink('Authoring Tutorial', 'header_tourauthoringtutorial')
                .linkContain#nav_features
                    .title
                        p Planned Features